# Exercice
## Exercice 1
Réaliser la ecture de la dateset *"files/VentesAgenceU.csv"*. Utiliser ensuite *info* pour afficher les informations sur le DataFrame, et utiliser *head/tail* pour afficher les 10 premières/dernières lignes de données lues.

## Exercice 2
Corriger les données :
- La colonne 'DATE FACTURE' doit être du type DateTime
- Supprimer les espaces blancs dans le nom de la colonne MONTANT.
    - utiliser "columns" pour afficher le nom des colonnes et voir ces espaces avant et après le mot "MONTANT"
    - on peut soit changer que le nom de cette colonne, soit utiliser str.strip pour supprimer les espaces blancs avant et après tous les noms de colonnes 
- Corriger les valeurs dans la colonne MONTANT de manière à qu'on puisse le convertir en float
- Convertir les valeurs de la colonne MONTANT en float

## Exercice 3
Continuer le nettoyage du dataset en supprimant la colonne vide (*"Unnamed: 6"*) et les lignes contenant des valeurs "*NaN*" (null).