# Exercice prise en main DataFrame
## Exercice 1
Créer un nouveau **DataFrame** avec les données suivantes : 
- colonne A :[0, NA, 1, -2]
- colonne B :['Titi', 'Toto', 'Tata', 'Tutu'],
- colonne C :['2020-01-01', '2021-02-02', NaT, '2019-12-30']

*Pour les valeur NA (NaN) et NT (NaT), utiliser les constantes ***NA*** et ***NAT*** définies par la bibliothèque Pandas.*

## Exercice 2
(**Ajouter un bloc de code pour chaque élément de la question**)

- Afficher uniquement les valeurs de la colonne A.
- Afficher les lignes dont la valeur de la colonne C est suppérieur au '2019-12-31'. 
- Afficher les lignes dont la valeur de la colonne C est au moins 0 et les valeurs de la colonne C sont antérieures au '2019-12-31'.

## Exercice 3
(**Ajouter un bloc de code pour chaque élément de la question**)
- Supprimer (*sans modifier le DataFrame d'origine*) les colonnes contenant des valeurs NA. Quels éléments restent-ils ?  
- Supprimer (*sans modifier le DataFrame d'origine*) les lignes contenant des valeurs NA. Quels éléments restent-ils ? 
- Supprimer (*en modifiant le DataFrame d'origine*) les lignes et les colonnes contenant des valeurs NA. Que rest-il du Dataframe originelle ?

# Exercice manipulation des données
## Exercice 1
(**Ajouter différents blocs de code pour chaque partie de la question**)

Réaliser la ecture de la dateset ***"files/VentesAgenceU.csv"***. Utiliser ensuite **info** pour afficher les informations sur le **DataFrame**, et utiliser **head/tail** pour afficher les 10 premières/dernières lignes de données lues.

## Exercice 2
(**Ajouter différents blocs de code pour chaque partie de la question**)

Corriger les données :
- La colonne 'DATE FACTURE' doit être du type DateTime
- Supprimer les espaces blancs dans le nom de la colonne MONTANT.
    - utiliser "columns" pour afficher le nom des colonnes et voir ces espaces avant et après le mot "MONTANT"
    - on peut soit changer que le nom de cette colonne, soit utiliser str.strip pour supprimer les espaces blancs avant et après tous les noms de colonnes 
- Corriger les valeurs dans la colonne MONTANT de manière à qu'on puisse le convertir en float
- Convertir les valeurs de la colonne MONTANT en float

## Exercice 3
Continuer le nettoyage du dataset en supprimant la colonne vide (*"Unnamed: 6"*) et les lignes contenant des valeurs "*NaN*" (null). 
Afficher les 10 dernières lignes du *DataFrame* originel afin de vérifier la bonne réalisation de l'opération.

## Exercice 4 - describe & stats
(**Ajouter plusieurs blocs de code pour répondre à chaque partie de la question**)

- utiliser l'opération  ***describe*** pour afficher une description rapide des données obtenues. Que pouvons-nous apprendre grâce à cette méthode ? 
- si on utilise l'opération ***sum*** sur le dataframe, qu'obtient-on comme information ? Et si on lui rajoute le paramètre ***numeric_only=True*** ?

## Exercice 5 - query
(**Ajouter plusieurs blocs de code pour répondre à chaque partie de la question**)

Avec l'opération ***query*** ou l'opération ***loc***, retrouver :
- les factures datant d'au moins le *2008-09-01*
- les factures de plus de 1700€ du client 'CLI206'  

Avec l'opération ***mean***, retrouver le montant moyen des factures du client 'CLI206'.

## Exercice 6 - groupby
A l'aide des opérations ***groupby***, ***sum***, ***count*** ou ***size***,  retrouver :
- le nombre de factures par client
- le nombre de factures par vendeur  
- la somme total des factures par client
- la somme total des factures par vendeur

Que nous permet-elle de voir la ligne ?
 
`` ventes.query("`CODE CLIENT` == 'CLI206' ").mean(numeric_only=True) ``